<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encriptador</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1><img src="../images/logo.jpg" alt="logo"></h1>
  </header>

  <main class="mainHome">
    
     <textarea id="chart-text" maxlength="300" placeholder="Ingrese el texto aqui..."></textarea>

     <div class="warning">
      <img src="./images/warning.png">
      <p>Solo letras minúsculas y sin acento.</p>
    </div>

    <div class='buttons'>
      <button class="button1" value="send" type="submit" onclick="encriptar()">Encriptar</button>
      <button class="button2" value="send" type="submit" onclick="desencriptar()">Desencriptar</button>
    </div >


    <div class="sidebar">
      <p id='image-message' class="searchImage"><img src="../images/searchImage.jpg" alt="search-image"></p>
      <div class="encriptedText">
            <p id='texto' class="without-message">Ningun mensaje fue encontrado</p>
            <input type="text" id='texto2' class='message' placeholder="Ingresa el texto que deseas encriptar o desencriptar">
    </div>

    <textarea id="cuadro_resultado" class="resultFormat" readonly></textarea>
                <div class="div-botton-copy"><button id="b_copiar" class="botton-copy" data-clipboard-target="#texto2">Copiar</button></div>

 </main>

  
  <footer>
   <p> Copyright Victoria Xiomara Ocampo 2022</p>
  </footer>

<script src="../js/script.js" ></script>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS("#b_copiar");
</script>

</body>

</html>
